# Dependencies
node_modules
.pnp
.pnp.js

# Build outputs
dist
build
out
.next/
.turbo

# Environment variables
.env
.env*.local

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
lerna-debug.log*

# Testing
coverage
.nyc_output

# OS
.DS_Store
*.pem

# IDEs
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea
*.sublime-workspace
.project
.classpath
.c9/
*.launch
.settings/

# Temp
.temp
.tmp

# Runtime
pids
*.pid
*.seed
*.pid.lock

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Deployment
.vercel